<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Dojos</title>
</head>
<body>
    <div class="d-flex flex-row container bg-dark text-light w-45 mt-3 p-3 justify-content-evenly">
        <div id="add dojo" class="d-flex flex-column mb-5 p-3">
            <h1>New Dojo</h1>
            <form action="/create" method="POST" class="d-flex flex-column bg-dark text-light mb-3">
                
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="form-control">
                </div>
                <input type="submit" class="btn btn-primary" value="Add Dojo">
            </form>
            
        </div>
        <div id="dojo list" class="d-flex flex-column p-3">
            <h1>All Dojos</h1>
            <div class="bg-dark text-light p-5">
                {% for d in dojos %}
                    <p><a href="/dojos/{{d.id}}">{{d.name}}</a></p>
                {% endfor %}
            </div>
            <a href="/ninjas" class="btn btn-primary text-center mx-auto">Add Ninja</a>
        </div>
    </div>
</body>
</html>